<h1>Profiles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Coffee</th>
      <th>Origin</th>
      <th>Batch Number</th>
      <th>View profile</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.origin.name %></td>
        <td><%= profile.origin.country %></td>
        <td><%= profile.batch_number %></td>
        <td><%= link_to 'View', profile_path(profile) %></td>
      </tr>
     <% end %>
  </tbody>
</table>
