<p>
  <strong>Coffee name:</strong>
    <%= @profile.coffee_name %>
</p>
 
<p>
  <strong>Origin Country:</strong>
    <%= @profile.origin_country %>
</p>

<p>
  <strong>Roast length:</strong>
    <%= @profile.roast_length_pretty %>
</p>
