<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<em>RoastingNotes™ is created by coffee roasters, for coffee roasters.</em></br></br>

<h5>Why?</h5>
<p>
RoastingNotes™ was designed and created by a father and son coffee roasting team.
Coffee roasting was a hobby and they needed a place to store their roast data.
</p>

<h5>Credits</h5>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
